/*
* Box Theme
* Created by : Ahmed Eissa
* website : www.ahmedessa.net
* behance : https://www.behance.net/3essa



** Altered Alex Baker 2021
https://www.devalexbaker.com
*/


/* Table of Content
==================================================
	- Google fonts & font family -
	- General -
    - typography -
    - Preloader -
	- Header -
    - box intro section -
    - Portfoilo section -
    - Footer -
    - Scrolling Page- 
    - Responsive media queries -
*/


/* Google fonts & font family
==================================================*/

@import url(https://fonts.googleapis.com/css?family=Poppins:400,500,600,700);

/* General
==================================================*/

html,
body {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    line-height: 1.8;
    color: #999;

}



.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.no-padding [class^="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.main-container {
    padding: 100px 0;
}

.center {
    text-align: center;
}

a {
    
    -webkit-transition: all .3s;
    transition: all .3s
}

.uppercase {
    text-transform: uppercase;
}

.h-30 {
    height: 30px
}

.h-10 {
    height: 10px
}

.color {
    color: #ffbf00;
    font-size: 11px;
}


/* typography
==================================================*/

h1 {
    color: #393939;
    font-size: 60px;
    text-transform: uppercase;
    -webkit-text-stroke: 3px #393939;
}

h3 {
    color: #393939;
}

h5 {
    color: #ffbf00;
}

.callText {
    color: #393939;



}



/* preloader
==================================================*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f5f5;
    /* change if the mask should be a color other than white */
    z-index: 1000;
    /* makes sure it stays on top */
}

.pre-container {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}

.spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

.double-bounce1,
.double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #ffbf00;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: bounce 2.0s infinite ease-in-out;
    animation: bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes bounce {

    0%,
    100% {
        -webkit-transform: scale(0.0)
    }

    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }

    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/* headr
==================================================*/

.box-header {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.95);
    height: 50px;
    width: 100%;
    z-index: 3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*linear-gradient(rgb(255, 227, 68), rgba(253, 253, 253, 0.424))*/
.bgPhoto {
    background-image: url("/img/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -100;
    display: block;
}

.titleContainer {
    background: #ffffff70;    
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

}

.box-header {
    height: 80px;
    background: transparent;
    box-shadow: none;

}

.box-header {
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.box-header.is-fixed {
    position: fixed;
    top: -80px;
    background-color: rgba(255, 255, 255, 0.96);
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.box-header.is-visible {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
}



.box-logo {
    display: block;
    padding: 20px;

}


.glassContainer {
    z-index: -10;
    color: #000;
    width: 100vw;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.5);
     backdrop-filter: blur(4px);
     -webkit-backdrop-filter: blur(4px);

}




.contentContainer {
    z-index: 1;
    position: relative;
   overflow: scroll;


}
/*============================================*/
.sectionHeader{

display: inline-block;
vertical-align: top;

}

.cardsContainer{
    display: inline-block;
    vertical-align: center;
}

/*============================================*/


/* box-intro
==================================================*/

.box-intro {
    text-align: center;
    display: table;
    height: 100vh;
    width: 100%;
}

.box-intro .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.box-intro em {
    font-style: normal;
    text-transform: uppercase
}

/*changes last char of letters*/
/* b i:last-child { */
/* color: #ffbf00 !important;*/
/* } */

.box-intro h5 {
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 3rem;
}

.title {
    margin-top: 15rem;
}

/* mouse effect */

.mouse {
    position: absolute;
    width: 22px;
    height: 42px;
    bottom: 10px;
    left: 50%;
    margin-left: -12px;
    border-radius: 15px;
    border: 4px solid #ffffff;
    -webkit-animation: intro 1s;
    animation: intro 1s;

}

.scroll {
    display: block;
    width: 5px;
    height: 6px;
    margin: 6px auto;
    border-radius: 4px;
    background: #ffffff;
    -webkit-animation: finger 2s infinite;
    animation: finger 2s infinite;

}

@-webkit-keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes intro {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes finger {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}


/* text rotate */

.box-headline {
    font-size: 130px;
    line-height: 1.0;

}

.box-words-wrapper {
    display: inline-block;
    position: relative;
}




/* portfolio section
==================================================*/


.card {
    font-size: var(--bs-body-font-size);
}


/* footer
==================================================*/

footer {
    padding: 5px 0;
    text-align: center;
   
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

.copyright {
    color: rgb(177, 177, 177);
    margin-bottom: 0;
}

.footer img {
    margin: 0 auto;
    width: 3rem;
}

.footerContainer {
    position: relative;
    height: 100vh;

}

.sitesContainer {
    position: absolute;
    bottom: 50px;

}

.sitesContainer .sitesWrapper {
    margin-left: auto;
    margin-right: auto;

}

.sitesContainer img {
    width: auto;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;

}




/* Scrolling the Page
==================================================*/
.scroll-container {

    overflow-y: auto;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    height: 100vh;



}

.scroll-area {
    scroll-snap-align: start;


}

.scroll-container,
.scroll-area {
    margin: 0 auto;
}

.scroll-area {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}


.scroll-container,

.scroll-area {
    max-width: auto;
    height: 100vh;
    font-size: 60px;
}

.hidden {
    display: none !important;
    opacity: 1 !important;
}

/*========================================*/


/* Responsive media queries
==================================================*/
/*Mobile Landscape*/
@media (orientation: landscape) and (max-width: 991px) {
    .box-logo {
        display: none;
    }

    .title {
        margin-top: 3em;

    }

}

@media (orientation: portrait) and (max-device-width: 520px) {
    .title {
        display: none;
    }

    .bgPhoto {
        background-color: rgba(192, 195, 145, 0.472);
        background-blend-mode: multiply;
    }

    .box-logo {
        width: 100vw;
        margin-top: 10vh;

    }

    .carousel-item {
        height: 85vh;

    }


}

@media (max-width: 991px) {
    .portfolio .categories-grid span {
        margin-bottom: 0;
        text-align: center;
        width: 100%;
    }

    .portfolio .categories-grid .categories ul li {
        text-align: center;
    }

    .portfolio .categories-grid .categories ul li a {
        margin-left: 0;
    }

    .col-md-6 h3 {
        margin-top: 30px;
    }
}

@media only screen and (max-width: 670px) {
    .box-headline {
        font-size: 100px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

    .box-primary-nav a {
        padding: 5px 1em;
        font-size: 14px;
    }

    .box-primary-nav {
        padding: 80px 0 0;
    }

    .box-primary-nav .box-social a {
        font-size: 23px;
    }

    .top-bar h1 {
        font-size: 40px;
        line-height: 30px;
    }

    .portfolio .categories-grid .categories ul li {
        float: none;
    }


}

@media only screen and (max-width: 520px) {
    .box-headline {
        font-size: 80px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

    .main-container {
        padding: 50px 0;
    }

}

@media only screen and (max-width: 420px) {
    .box-headline {
        font-size: 50px;
    }

    .box-intro h5 {
        font-size: 12px;
    }

    .top-bar h1 {
        font-size: 30px;
        line-height: 30px;
    }

}